.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px 40px;
    height: 300px;
    color: white;
}

.navLink, .dropdownLink {
    color: inherit; /* Usa el color del texto actual */
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center; /* Alinea el contenido verticalmente */
    font-size: 1.1rem !important;
}

.navLink:hover, .dropdownLink:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el mouse */
}

.logoSection {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    height: 130px;
    margin-top: -185px;
    margin-left: 40px;
    cursor: pointer;
}

.titleSection {
    display: flex;
    flex-direction: column;
}

.menuSection {
    display: flex;
    gap: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: -185px;
    margin-right: 150px;
    align-items: center; /* Alinea todos los elementos verticalmente */
}

.smallArrow {
    font-size: 0.7em;
    margin-left: 5px;
    vertical-align: middle;
}

/* Menú desplegable */
.dropdown {
    position: relative;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 100;
    width: 200px;
}

/* Muestra el menú al pasar el ratón */
.dropdown:hover .dropdownMenu {
    display: block;
}

.dropdownItem {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 14px;
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}