.secondFooter {
    background-color: #333333; /* Fondo negro gris */
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre cada logo */
  }
  
  .secondFooter img {
    height: 70px; /* Tamaño de los logos */
    margin: 10px;
  }