.secondFooter {
    background-color: #333333;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }
  
.secondFooter img {
  height: 70px; 
  margin: 10px;
}

@media (max-width: 1024px) {
  .secondFooter{
    padding: 0px;
    gap: 10px;
    border: none;
  }
  .secondFooter img{
    height: 60px;
  }
}

@media (max-width: 425px) {
  .secondFooter{
    padding: 0px;
    gap: 0px;
    border: none;
    width: 112%;
  }
  .secondFooter img{
    height: 30px;
    margin: 5px;
  }
}
